div.col-sm-4.col-lg-4
   img(src="public/img/logo.svg" width="150px" height="150px")
div.col-sm-8.col-lg-8
   h1 [video45]
   h3 Status: #[b  IN PRODUCTION]
   br

p Sign up now to get the latest updates and pre-release news.

form(action='/pre-register', method='post', role='form')
   div.col-sm-8.col-lg-8
      input.form-control(type='text', name='email', placeholder='Email')
   div.col-sm-4.col-lg-4
      button.btn.btn-success.btn-md.btn-block(type='submit') Pre-Register


