script(src='../../bower_components/jquery/dist/jquery.min.js')
script(src='../../bower_components/jquery-ui/jquery-ui.js')
script(src='../../bower_components/jquery-ui/jquery-ui.min.js')
script(src='../../bower_components/video.js/dist/video.js')
script(src='../../bower_components/BigVideo/lib/bigvideo.js')
script.
   $(function() {
      var BV = new $.BigVideo();
      vids = !{ videoPath }
      BV.init();
      BV.showPlaylist(vids, {ambient:true});
   });