.main {
	position:relative;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

.max-width {
    max-width: 750px;
    width: auto;
}

.transparent-bg {
    background-color: rgba(255, 255, 255, 0.75);
}

.social-btn {
    font-size: 1vm;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

hr.vertical-line {
    width: 1px;
    height: 100%;
}

@media (max-width: 768px) {
    .scale-item {
        transform: scalex(1.2);
    }

    .centered {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 769px) {
    .scale-item {
        transform: scaleX(2);
    }

    .centered {
        padding-right: 0;
        padding-left: 0;
    }
}

@media (min-width: 993px) {
    .scale-item {
        transform: scaleX(2.5);
    }

    .centered {
        padding-right: 0;
        padding-left: 0;
    }
}

@media(min-width: 1200px) {
    .scale-item {
        transform: scaleX(3);
    }

    .centered {
        padding-right: 200px;
        padding-left: 200px;
    }
}

/* CUSTOMIZE NAVBAR
-------------------------------------------------- */
.navbar {
    margin-bottom: 0;
}


.expanding-text {
    resize: none
}

.auto-play{

}