.main {
	position:relative;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}

.container {
    max-width: 750px;
    width: auto;

}

/*.col-xs-3 {*/
    /*border-left: thick solid #000000;*/
/*}*/

hr.vertical-line {
    width: 1px;
    height: 100%;
}

