doctype html
// views/index.ejs
html
   head
      title Video 45
      // load bootstrap css
      link(rel='stylesheet', href='/public/bootstrap/css/bootstrap.min.css')
      // load fontawesome
      link(rel='stylesheet', href='/public/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='../../bower_components/BigVideo/css/bigvideo.css')
      style.
         body {
            padding-top: 80px;
         }
      link(rel='stylesheet', href='/public/css/style.css')
   body
      .main
         .container.max-width
            .jumbotron.text-center.transparent-bg(style="padding-top:150px; padding-bottom:150px;")
               block content
      include ../includes/videobg