doctype html
// views/profile.ejs
html
   head
      title Connect
      |
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
      |
      link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
      |
      style.
         body        { padding-top:80px; word-wrap:break-word; }
   body
      .container
         .page-header.text-center
            h1
               span.fa.fa-anchor
               |  Connect to Social Networks
            |
            a.btn.btn-default.btn-sm(href='/logout') Logout
            |
            a.btn.btn-default.btn-sm(href='/profile') Profile
         |
         .row
            // FACEBOOK INFORMATION
            .col-sm-6
               .well
                  h3.text-primary
                     span.fa.fa-facebook
                     |  Facebook
                  // check if the user has this token (is the user authenticated with this social account)
         |
         .row
            // TWITTER INFORMATION
            .col-sm-6
               .well
                  h3.text-info
                     span.fa.fa-twitter
                     |  Twitter
                  // check if the user has this token (is the user authenticated with this social account)
            // GOOGLE INFORMATION
            .col-sm-6
               .well
                  h3.text-danger
                     span.fa.fa-google-plus
                     |  Google+
                  // check if the user has this token (is the user authenticated with this social account)
