extends ./layouts/mainLayout

block content
    .carousel#topCarousel(data-ride="carousel")
        ol.carousel-indicators
            li.active(data-target="#topCarousel" data-slide-to="0")
            li(data-target="#topCarousel" data-slide-to="1")
            li(data-target="#topCarousel" data-slide-to="2")
        .carousel-inner(role="listbox" style="max-height: 700px").text-center
            .item.active
                video.first-slide.scale-item(preload="auto" height="100%" autoplay src="/public/vid/dock.mp4" loop)

    .container-fluid.centered
        .col-xs-4.col-md-4
            .container

        .col-xs-8.col-md-8
            for video in user.videos
                - var comments = video.comments
                .row
                    include includes/videopost